<!doctype html>
<html ng-app="myApp" ng-strict-di>

<head>
    <title>Directiva ngIf</title>
</head>

<body ng-controller="UsuariosController as usuario">
    Click me: <input type="checkbox" ng-model="usuario.checked"><br/>
    El valor de checked es: {{usuario.checked}}<br/>
    
    <div ng-if="usuario.checked">
        <p>Este elemento es eliminado cuando el checkbox no este comprobado (unchecked)...</p>
    </div>
    
    <script src="libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/usuarios.controller.js"></script>
</body>

</html>
