<!doctype html>
<html ng-app="myApp">

<head>
    <title>Filters</title>
    <!—Importamos la css -->
    <link rel="stylesheet" type="text/css" href="assets/app.css">
</head>

<body ng-controller="UsuariosController as usuario">
    <!-- Uso basico del filtro filter -->
    <table>
        <tr>
            <th>Username</th>
            <th>Rol</th>
            <th>Telefono</th>
        </tr>
        <tr ng-repeat="user in usuario.usersList">
            <td>{{user.username}}</td>
            <td>{{user.rol}}</td>
            <td>{{user.tel}}</td>
        </tr>
    </table>
    <hr>
    <label>Consulta:
        <input ng-model="queryText">
    </label>
    <table>
        <tr>
            <th>Username</th>
            <th>Rol</th>
            <th>Telefono</th>
        </tr>
        <tr ng-repeat="user in usuario.usersList | filter:queryText">
            <td>{{user.username}}</td>
            <td>{{user.rol}}</td>
            <td>{{user.tel}}</td>
        </tr>
    </table>
    <hr>
    <label>Consulta por username:
        <input ng-model="queryByUsername">
    </label>
    <table>
        <tr>
            <th>Username</th>
            <th>Rol</th>
            <th>Telefono</th>
        </tr>
        <tr ng-repeat="user in usuario.usersList | filter:{username:queryByUsername}">
            <td>{{user.username}}</td>
            <td>{{user.rol}}</td>
            <td>{{user.tel}}</td>
        </tr>
    </table>
    <hr>
        <label>Consulta por username:
        <input ng-model="queryByUsername2.username">
    </label>
    <table>
        <tr>
            <th>Username</th>
            <th>Rol</th>
            <th>Telefono</th>
        </tr>
        <tr ng-repeat="user in usuario.usersList | filter:queryByUsername2">
            <td>{{user.username}}</td>
            <td>{{user.rol}}</td>
            <td>{{user.tel}}</td>
        </tr>
    </table>
    <hr>
    <label>Username <input ng-model="search.username"></label><br>
	<label>Modo estricto <input type="checkbox" ng-model="strict"></label><br>
	<table>
        <tr>
            <th>Username</th>
            <th>Rol</th>
            <th>Telefono</th>
        </tr>
        <tr ng-repeat="user in usuario.usersList | filter:search:strict">
            <td>{{user.username}}</td>
            <td>{{user.rol}}</td>
            <td>{{user.tel}}</td>
        </tr>
    </table>
    <script src="libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/usuarios.controller.js"></script>
</body>

</html>
