<!doctype html>
<html ng-app="myApp">

<head>
    <title>Directiva ngRepeat</title>
    <!—Importamos la css -->
    <link rel="stylesheet" type="text/css" href="assets/app.css">
</head>

<body ng-controller="UsuariosController as usuario">
    <ul>
    	<li ng-repeat="miVariable in usuario.miColeccion">
    		{{miVariable}}
    	</li>
    </ul>  

<!-- ngRepeat in a table -->
<table>
    <tr>
        <th>Usuario</th>
        <th>Rol</th>
    </tr>
    <tbody>
    	<tr ng-repeat="myUser in usuario.miColeccionUsuarios">
		    <td>{{myUser.username}}</td>
		    <td>{{myUser.roles}}</td>
  		</tr>
    </tbody>
</table>


    <script src="libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/usuarios.controller.js"></script>
</body>

</html>
