<!doctype html>
<html ng-app="myApp">

<head>
    <title>Filters</title>
    <!—Importamos la css -->
    <link rel="stylesheet" type="text/css" href="assets/app.css">
</head>

<body ng-controller="UsuariosController">
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
        <input type="text" 
            name="usernameField" 
            placeholder="Username" 
            ng-model="user.username" 
            ng-required="true" 
            ng-minlength="8" 
            ng-maxlength="15" 
            ng-pattern="/^[a-zA-Z]*$/">
        <br>

        <!-- $touched  -->
        <div ng-messages="userForm.usernameField.$error" multiple ng-if="userForm.usernameField.$touched">
            <div ng-messages-include="partials/msgs/messages.html"></div>
        </div>    
        <br>
        <input type="submit" ng-disabled="userForm.$invalid">
    </form>

    <script src="libs/angular.js"></script>
    <script src="libs/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/usuarios.controller.js"></script>
</body>

</html>
