<!doctype html>
<html ng-app="myApp">

<head>
    <title>Directiva ngRepeat</title>
    <!—Importamos la css -->
    <link rel="stylesheet" type="text/css" href="assets/app.css">
</head>

<body ng-controller="UsuariosController as usuario">
    <!-- ngRepeat in a table -->
    <table>
        <tr>
            <th>#No.</th>
            <th>Usuario</th>
            <th>Rol</th>
        </tr>
        <tbody>
            <tr ng-repeat="myUser in usuario.miColeccionUsuarios">
                <td>{{$index + 1}}</td>
                <td>{{myUser.username}}</td>
                <td>{{myUser.roles}}</td>
            </tr>
        </tbody>
    </table>
    <!-- ng-init-->
    <table>
        <tr>
            <th>#No.</th>
            <th>Usuario</th>
            <th>Rol</th>
        </tr>
        <tbody>
            <tr ng-repeat="myUser in usuario.miColeccionUsuarios" ng-init="indice = $index + 1">
                <td>{{indice}}</td>
                <td>{{myUser.username}}</td>
                <td>{{myUser.roles}}</td>
                <td ng-click="usuario.removeItem(myUser)">Eliminar</td>
            </tr>
        </tbody>
    </table>
    <p> Elemento candidato a eliminar: {{usuario.itemToRemove}}
    <script src="libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/usuarios.controller.js"></script>
</body>

</html>
