<!doctype html>
<html ng-app="myApp">

<head>
    <title>Filters</title>
    <!—Importamos la css -->
    <link rel="stylesheet" type="text/css" href="assets/app.css">
</head>

<body ng-controller="UsuariosController as usuario">
    <!-- Uso basico del filtro limitTo -->
    <table>
        <tr>
            <th>Username</th>
            <th>Rol</th>
            <th>Telefono</th>
            <th>Edad</th>
        </tr>
        <tr ng-repeat="user in usuario.users | limitTo : 2">
            <td>{{user.username}}</td>
            <td>{{user.rol}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.edad}}</td>
        </tr>
    </table>
    <hr>

        <!-- Uso basico del filtro limitTo usando el parametro begin-->
    <table>
        <tr>
            <th>Username</th>
            <th>Rol</th>
            <th>Telefono</th>
            <th>Edad</th>
        </tr>
        <tr ng-repeat="user in usuario.users | limitTo : 2 : 2">
            <td>{{user.username}}</td>
            <td>{{user.rol}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.edad}}</td>
        </tr>
    </table>
    <hr>
    <script src="libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/usuarios.controller.js"></script>
</body>

</html>
