<!doctype html>
<html ng-app="myApp" ng-strict-di>

<head>
    <title>Directiva ngClass</title>
    <!—Importamos la css -->
    <link rel="stylesheet" type="text/css" href="assets/app.css">
</head>

<body>
    <h1>Usando la sintaxis object</h1>
    <input type="checkbox" ng-model="deleted"> deleted is ({{deleted}}) (aplicamos la clase CSS "strike")
    <br>
    <input type="checkbox" ng-model="important"> important is ({{important}}) (aplicamos la clase CSS "bold")
    <br>
    <input type="checkbox" ng-model="error"> error is ({{error}}) (aplicamos la clase CSS "has-error")
    <br/>
    <p ng-class="{strike: deleted, bold: important, 'has-error': error}"> Probando la directiva ngClass mediante object </p>
    <script src="libs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/usuarios.controller.js"></script>
</body>

</html>
